* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-y: scroll;
}

header {
    height: 5em;
    margin: 0 0 3.5em 0;
    width: 100%;
}

h1 {
    font-family: sans-serif;
    font-size: 3em;
    font-weight: normal;
    margin: 0.5em auto 0.5em;
    width: 6em;
}

div#nav_wrapper {
    width: 100%;
}

nav {
    margin: 0 auto;
    width: 20em;
}

nav ul {
    float: left;
    font-family: sans-serif;
    list-style: none;
}

nav ul li {
    float: left;
    padding: 5px;
    margin: 0 0.7em 0 0;
}

nav ul li.selected {
    background-color: indianred;
    color: white;
    text-decoration: underline;
}

nav ul li:last-child {
    margin: 0 0 0 0;
}

nav ul li:hover {
    background-color: darkolivegreen;
    color: white;
    cursor: pointer;
}

hr {
    margin: 0 auto;
    width: 45%;
}

div.center {
    margin: 0 auto;
    width: 30em;
}

section#socials {
    display: none;
}

main {
    margin: 2em 0 0 0;
}

article {
    margin: 0 0 1em 0;
}

article h2 {
    font-weight: normal;
    margin: 0 0 0.5em 0;
    text-align: center;
}

article p {
    font-family: sans-serif;
    font-size: 1.1em;
    margin: 0 0 1em 0;
}

article span.celeb {
    text-decoration: underline;
}

p.details {
    background-color: whitesmoke;
    display: block;
    padding: 1em;
}

article a#showDetails {
    display: block;
}

article a#hideDetails {
    display: block;
}

section#showcase img {
    height: 18em;
}

ul#hook {
    float: right;
    list-style: square;
}

ul#hook li {
    font-family: sans-serif;
    font-size: 1.1em;
    margin: 0 0 1em 0;
}

ul#hook li:first-child {
    margin: 3em 0 1em 0;
}

section#showcase a {
    background: indianred;
    color: white;
    float: right;
    padding: 0.5em;
    text-decoration: none;
}

ul#hook li a:hover {
    background-color: darkolivegreen;
    color: white;
}






