* {
    margin: 0;
    padding: 0;
}

body {
    background-color: limegreen;
//    overflow-y: scroll;
    overflow: hidden;
}

header {
    height: 1em;
    margin: 0 0 3.5em 0;
    width: 100%;
}

header img {
    display: block;
    float: right;
    height: 2.5em;
    position: absolute;
    top: 1em;
    right: -2.5em;
}

header img:hover {
    cursor: pointer;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3em;
    font-style: italic;
    font-weight: lighter;
    margin: 1em auto 0.4em;
    text-align: center;
    width: 10em;
}

div#nav_wrapper {
    float: left;
    display: none;
    width: 100%;
}

nav {
    margin: 0 auto;
    width: 20em;
}

nav ul {
    float: left;
    font-family: sans-serif;
    list-style: none;
}

nav ul li {
    float: left;
    padding: 5px;
    margin: 0 0.7em 0 0;
}

nav ul li.selected {
    background-color: indianred;
    background-color: #fcff49;
    color: darkolivegreen;
    text-decoration: underline;
}

nav ul li:last-child {
    margin: 0 0 0 0;
}

nav ul li:hover {
    background-color: darkolivegreen;
    color: white;
    cursor: pointer;
}

hr {
    margin: 0 auto;
    width: 35em;
}

header div.center {
    position: relative;
}

div.center {
    margin: 0 auto;
    width: 30em;
}

section#socials {
    display: none;
}

main {
    margin: 2em 0 0 0;
}

article {
    margin: 0 0 1em 0;
}

article h2 {
    font-size: 1.7em;
    font-weight: normal;
    margin: 0 0 0.5em 0;
    text-align: center;
}

article p {
    font-family: sans-serif;
    font-size: 0.95em;
    margin: 0 0 1em 0;
}

article span.celeb {
    color: blue;
    text-decoration: underline;
}

span#hideDetails,
span#showDetails{
    background-color: darkolivegreen;
    color: white;
    padding: 1px 3px 1px 3px;
}

span#hideDetails:hover,
span#showDetails:hover {
    cursor: pointer;
}

span#showDetails {
    display: block;
    width: 6.5em;
}

span#hideDetails {
    display: block;
    width: 6.5em;
}

section#showcase {
    height: 18em;
    margin: 0 0 2.5em 0;
    position: relative;
}

section#showcase img {
    float: left;
    height: 18em;
}

ul#hook {
    float: left;
    list-style: square;
    margin: 0 0 0 3em;
}

ul#hook li {
    font-family: sans-serif;
    font-size: 1.1em;
    margin: 0 0 1em 0;
}

ul#hook li:first-child {
    margin: 3em 0 1em 0;
}

section#showcase a {
    background: indianred;
    background-color: yellow;
    color: white;
    color: darkolivegreen;
    padding: 0.5em;
    position: absolute;
      bottom: 2em;
      right: 6em;
    text-decoration: none;
}

a#target:hover {
    background-color: darkolivegreen;
    color: white;
}

footer {
    height: 8em;
    padding: 2em 0 0 0;
    width: 100%;
}

footer h3 {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

footer p {
    font-family: sans-serif;
}

div#footer_about {
    float: left;
    margin: 0 3.5em 0 0.6em;
    text-align: center;
}

div#footer_contact {
    float: left;
    text-align: center;
}
